<launch>
  <arg name="tf_prefix" default=""/>
  <arg name="ns" default="" />
  <param name="tf_prefix" value="$(arg tf_prefix)"/>

  <!-- Robot inside state pub-->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

  <!-- AMCL + map server + fake laser + world-map static tf. All depend on transform prefix (tf_prefix)-->
  <include file="$(find multiple_turtlebots)/launch/includes/mt_spawn_tf.launch" >
    <arg name="tf_prefix" value="$(arg tf_prefix)" />
    <arg name="initial_pose_x" value="$(arg x)"/>
    <arg name="initial_pose_y" value="$(arg y)"/>
    <arg name="initial_pose_a" value="$(arg z)"/>
  </include>

  <arg name="base"      value="$(optenv TURTLEBOT_BASE kobuki)"/> <!-- create, roomba -->
  <arg name="stacks"    value="$(optenv TURTLEBOT_STACKS hexagons)"/>  <!-- circles, hexagons -->
  <arg name="3d_sensor" value="$(optenv TURTLEBOT_3D_SENSOR kinect)"/>  <!-- kinect, asus_xtion_pro -->
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0.1"/>

  <!-- Model spawner + velocity muxer + move_base. All depend on namespace(ns)-->
  <include file="$(find multiple_turtlebots)/launch/includes/mt_spawn_ns.launch.xml">
    <arg name="base" value="$(arg base)"/>
    <arg name="stacks" value="$(arg stacks)"/>
    <arg name="3d_sensor" value="$(arg 3d_sensor)"/>
    <arg name="x" default="$(arg x)"/>
    <arg name="y" default="$(arg y)"/>
    <arg name="z" default="$(arg z)"/>
    <arg name="ns" value="$(arg ns)" />
  </include>
</launch>